{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css'%}">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class='bg-gray-100 text-blue-500'>
<div class='m-10'>
  <!-- Using CSS, style the random fact, Random Student, & Random Image -->
  <!-- Use your own colors create cards for the random facts and students,  -->
  <!-- Pro Tip: You can use multiple pages -->
  <!-- Pro Tip: Impliment a  refresh/reload button in every page  -->
  <h1 class='text-4xl text-center font-bold'>Random Fact</h1>
  {{fact}}

  <h1>Random Student</h1>
  {{name}}


  <h1>Random Image</h1>

  <img src="{{dog}}" alt="" class='rounded-lg' >
  <!-- {{dog}} -->
  </div>
</body>
</html>